/* This stylesheet is for styling what can't be styled inline */
@media only screen and (min-width:1200px) {
  #logoButton {
    left: 50px;
  }

  #animatedButtonWrapper {
    right: 50px;
  }
}

@media only screen and (max-width:1199px) {
  #logoButton {
    left: 5px;
  }

  #animatedButtonWrapper {
    right: 5px;
  }
}

@media only screen and (min-width:901px) {
  .customPaper {
    padding: 60px;
  }

}

@media only screen and (max-width:900px) {
  .customPaper {
    padding: 10px;
  }
}

@media only screen and (min-width:877px) {
  #mobileMenu {
    display: none;
  }
}

@media only screen and (max-width:876px) {
  #desktopMenu {
    display: none;
  }
}

@media only screen and (min-width:501px) {
  .codeBlock {
    height: 600px;
    font-size: 14px;
  }

  .marvalJImg {
    width: 400px;
  }
}

@media only screen and (max-width:500px) {
  .codeBlock {
    height: 300px;
    font-size: 12px;
  }

  .marvalJImg {
    width: 80%;
  }
}

@media only screen and (min-width:381px) {
  .gitHubSCode {
    height: 45px;
    width: 45px;
  }
}

@media only screen and (max-width:380px) {
  .gitHubSCode {
    height: 37px;
    width: 37px;
  }
}

.customPaperTable {
  padding: 10px;
}