/* This stylesheet is for styling what can't be styled inline */
@media only screen and (min-width:1260px) {
  .smallBlogDrawerButton {
    display: none;
  }
}

@media only screen and (max-width:1259px) {
  .bookmarkButton {
    display: none;
  }
}

@media only screen and (min-width:1200px) {
  #animatedButtonWrapper {
    right: 50px;
  }

  #cardContainer {
    padding-left: 40px;
    padding-right: 40px;
  }

  #logoButton {
    left: 50px;
  }

  #projectsMenu {
    width: calc(100% - 100px);
  }
}

@media only screen and (max-width:1199px) {
  #animatedButtonWrapper {
    right: 5px;
  }

  #cardContainer {
    padding-left: 0;
    padding-right: 0;
  }

  #logoButton {
    left: 5px;
  }

  #projectsMenu {
    width: calc(100% - 10px);
  }
}

@media only screen and (min-width:901px) {
  .customPaper {
    padding: 60px;
  }

  .projectPageDescription {
    text-align: justify;
  }

  .projectPageImage {
    width: 500px;
  }

  .seeMoreButton {
    font-size: 30px;
  }

  .sourceCodeButton {
    width: 60%;
  }
}

@media only screen and (max-width:900px) {
  .customPaper {
    padding: 10px;
  }

  .projectPageDescription {
    text-align: left;
  }

  .projectPageImage {
    width: 100%;
  }

  .seeMoreButton {
    font-size: 18px;
  }

  .sourceCodeButton {
    width: 100%;
  }

  .tc_4 {
    display: none;
  }
}

@media only screen and (min-width:877px) {
  #mobileMenu {
    display: none;
  }
}

@media only screen and (max-width:876px) {
  #desktopMenu {
    display: none;
  }
}

@media only screen and (max-width:612px) {
  .tc_1 {
    display: none;
  }
}

@media only screen and (min-width:501px) {
  .codeBlock {
    height: 600px;
    font-size: 14px;
  }

  .marvalJImg {
    width: 400px;
  }
}

@media only screen and (max-width:500px) {
  .codeBlock {
    height: 300px;
    font-size: 12px;
  }

  .marvalJImg {
    width: 80%;
  }
}

@media only screen and (min-width:429px) {
  .subHeading {
    font-size: 34px;
  }
}

@media only screen and (max-width:428px) {
  .subHeading {
    font-size: 24px;
  }
}

@media only screen and (max-width:412px) {
  .tc_5 {
    display: none;
  }
}

@media only screen and (min-width:401px) {
  .cardDescription {
    text-align: justify;
    height: 145px;
  }

  .projectCard {
    width: 360px;
    padding: 24px;
  }

  .projectCardImg {
    height: 270px;
  }
}

@media only screen and (max-width:400px) {
  .cardDescription {
    text-align: left;
    height: unset;
  }

  .projectCard {
    width: 100%;
    padding: 12px;
  }

  .projectCardImg {
    height: 260px;
  }
}

@media only screen and (min-width:381px) {
  .gitHubSCodeIcon {
    height: 45px;
    width: 45px;
  }

  .sourceCodeButton {
    height: 80px;
    font-size: 32px;
  }
}

@media only screen and (max-width:380px) {
  .gitHubSCodeIcon {
    height: 37px;
    width: 37px;
  }

  .sourceCodeButton {
    height: 70px;
    font-size: 26px;
  }
}

@media only screen and (max-width:372px) {
  .projectDate {
    display: none;
  }

  .projectCard {
    padding: 8px;
  }
}

.customPaperTable {
  padding: 10px;
}