:root {
  --labelFont: 'Courier New', Courier, monospace;
  --dataFont: Arial, Helvetica, sans-serif;
  --orange: #ff5722;
}

urlset {
  margin: 10px;
}

urlset::before {
  font-style: italic;
  color: #888;
  content: "Not all last modified values are accurate.";
}

loc {
  display: block;
  font-family: var(--dataFont);
}

loc::before {
  color: var(--orange);
  content: "url: ";
  font-family: var(--labelFont);
  font-weight: 700;
}

lastmod {
  display: block;
  font-family: var(--dataFont);
}

lastmod::before {
  color: var(--orange);
  content: "last modified: ";
  font-family: var(--labelFont);
  font-weight: 700;
}

priority {
  display: block;
  font-family: var(--dataFont);
  margin-bottom: 20px;
}

priority::before {
  color: var(--orange);
  content: "priority: ";
  font-family: var(--labelFont);
  font-weight: 700;
}